

.Home {
    margin-top: -7%;
    min-height: 100vh; /* La hauteur du conteneur prend toute la hauteur de la vue */
    overflow: visible;
}


/* Style pour la vidéo d'intro en plein écran */
.intro-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease; /* Transition de fondu */
}

.intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animation de fondu pour masquer la vidéo */
.fade-out {
    opacity: 0;
    pointer-events: none; /* Empêche l'interaction pendant le fondu */
}

/* Style pour la première section avec une image de fond */
.section-image {
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Assure-toi que ce style s'applique à ta première section */
.first-section {
    /*¨position: relative; */
    width: 100%;
    height: 100vh; /* Ajuste en fonction de ta mise en page */
    background-image: url('../Img/teamfond.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centre le texte */
    animation: fadeIn 2s forwards; /* Animation de fondu */
    overflow: hidden;

}

/* Overlay sombre */
.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Ajuste l'opacité (0.5 = 50%) et la couleur (noir ici) */
    z-index: 1; /* S'assure que l'overlay est au-dessus de l'image */
}

/* Texte par-dessus l'image et l'overlay */
.first-section .text-overlay {
    position: relative;
    z-index: 2; /* Assure que le texte est au-dessus de l'overlay */
    color: #ffffff; /* Couleur du texte en blanc pour un meilleur contraste */
    text-align: center;
    font-size: 2rem; /* Ajuste la taille du texte selon tes besoins */
    padding: 20px; /* Ajoute un peu d'espace autour du texte */
}
.text-overlay h1 {
    color: #ffffff; /* Couleur du texte en blanc pour un meilleur contraste */
    font-size: 9rem; /* Ajuste la taille du texte selon tes besoins */
    padding: 40px; /* Ajoute un peu d'espace autour du texte */
    text-align: left;
    margin-left: 5%;
    width: 60%;
    font-family: 'Baskerville', 'Times New Roman', Times, serif;
}
/* Style du bouton "READ MORE" */
.learn-more-button-0 {
    display: inline-block;
    color: #fff;
    text-decoration: none !important;
    font-size: 2.5rem;
    padding: 8px 16px;
    position: relative;
    transition: color 0.3s ease;
    margin-left: -69%;
    cursor: pointer;
}

/* Style au survol : soulignement avec une ligne blanche */
.learn-more-button-0::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.learn-more-button-0:hover {
    color: #fff; /* Assure que le texte reste blanc */
}

/* Animation au survol pour faire apparaître la ligne */
.learn-more-button-0:hover::after {
    width: 100%;
}

/* Make text size responsive */
.info-box h2, 
.info-box p {
    font-size: calc(3rem + 1vw); /* Font size adapts to viewport */
}
.text-overlay h1
 {
    font-size: calc(4rem + 1vw); /* Font size adapts to viewport */
}

/* Animation pour le fondu */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/* Styles pour la deuxième section */
.second-section {
    background-color: #f4f4f4; /* Couleur de fond pour la section */
    padding: 50px 0; /* Espacement autour de la section */
    height: auto; /* Hauteur de la section (80% de la hauteur de la fenêtre) */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%; /* Ajuste la largeur selon vos besoins */
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.info-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%; /* Largeur des colonnes */
    position: relative;
}


.info-icon {
    width: 100px; /* Increase the size of the icon */
    height: auto;
    margin-bottom: 20px; /* Add some more spacing between the icon and the heading */
    margin-left: 0%; /* Moves the icon slightly to the left */
}

.info-box1 {
    margin-top: -50px; /* Positionne la première boîte sans décalage vertical */
}

.info-box2 {
    margin-top: 50px; /* Décale la deuxième boîte vers le bas */
}

.info-box3 {
    margin-top: 150px; /* Décale la troisième boîte encore plus bas */
}

.info-box h2 {
    font-size: 4em; /* Taille du texte des titres */
    margin-bottom: 10px;
}

.info-box p {
    font-size: 2.4em; /* Taille du texte des paragraphes */
    margin-bottom: 20px;
}

.learn-more-link {
    font-size: 2em;
    color: #000000; /* Couleur du texte du lien */
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold;
}

.learn-more-link:hover {
    text-decoration: none;
    border-bottom: 2px solid white; /* Ligne blanche sous le texte au survol */
}


.video-container {
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 100vh; /* Prend toute la hauteur de la vue */
    min-height: 100vh; /* Assure une taille minimale */
    /*overflow: hidden; /* Cache les parties de la vidéo qui débordent */
}


.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw; /* La vidéo prend toute la largeur de la fenêtre */
    height: 100vh; /* La vidéo prend toute la hauteur de la fenêtre */
    object-fit: cover; /* Assure que la vidéo couvre tout l'espace sans déformation */
    transform: translate(-50%, -50%); /* Centre la vidéo au milieu de l'écran */
}

.overlay-text {
     /*position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    color: #0a0a0a; /* Change la couleur en blanc pour un meilleur contraste */
}

.overlay-text, .overlay-text-2 {
    position: absolute; /* Change la position absolue en relative pour être dans le flux de la mise en page */
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; /* Utilise flexbox pour aligner le texte */
    flex-direction: column; /* Aligne le texte et le bouton verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center; /* Centre le contenu verticalement */
    text-align: center;
    padding: 20px; /* Ajoute un padding pour les marges intérieures */
    width: 100%; /* Prendre toute la largeur du conteneur parent */
    text-align: center;
    font-size: 10rem; /* Augmente la taille de la police */
    font-family: 'Poppins', sans-serif; /* Police arrondie et moderne */
    font-weight: 800; /* Rendre le texte encore plus gras */
    z-index: 1; /* Assure que le texte est au-dessus de la vidéo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Ajoute une ombre pour plus de lisibilité */
    letter-spacing: 2px; /* Espace légèrement les lettres */
    line-height: 1.2; /* Ajuste l'interligne pour un aspect plus compact */
}

.overlay-text-2 {
    /*position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    color: #f6f3f3; /* Change la couleur en blanc pour un meilleur contraste */
}

.learn-more-button-1 {
    background-color: #111111; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Ajouter un espacement intérieur */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Afficher le curseur pointer */
    border-radius: 10px; /* Ajouter une bordure arrondie */
    text-decoration: none; /* Supprimer le soulignement par défaut */
}
.learn-more-button-1:hover {
    background-color: #f6f3f3; /* Couleur de fond au survol */
    border-color: #0a0a0a;
    color: #15033b;
    text-decoration: none;
}
.learn-more-button-2 {
    background-color: #f6f3f3; /* Couleur de fond */
    color: #15033b; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Ajouter un espacement intérieur */
    font-size: 20px; /* Taille de la police */
    cursor: pointer; /* Afficher le curseur pointer */
    border-radius: 10px; /* Ajouter une bordure arrondie */
    text-decoration: none; /* Supprimer le soulignement par défaut */
}
.learn-more-button-2:hover {
    background-color: #111111; /* Couleur de fond au survol */
    border-color: #f6f3f3;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 880px) {
    .overlay-text h1, .overlay-text-2 h1 {
        font-size: 2rem; /* Réduire la taille de la police sur mobile */
        padding: 30px;
        color: #0a0a0a;
        margin-top: 10%;
    }

    .background-video {
        height: auto; /* Laisse la vidéo ajuster sa hauteur naturellement */
        object-fit: contain; /* La vidéo reste visible sans découpe */
    }

    .learn-more-button-1, .learn-more-button-2 {
        background-color: #111111; /* Couleur de fond */
        color: #ffffff; /* Couleur du texte */
        border: none; /* Supprimer la bordure */
        font-size: 20px; /* Taille de la police */
        cursor: pointer; /* Afficher le curseur pointer */
        border-radius: 10px; /* Ajouter une bordure arrondie */
        text-decoration: none; /* Supprimer le soulignement par défaut */
        font-size: 1.5rem; /* Réduire la taille du bouton sur mobile */
        padding: 8px 12px; /* Réduire le padding pour que le bouton soit plus petit */
        margin-top: 20px; /* Ajouter un espace au-dessus du bouton */
    }
    .learn-more-button-1:hover {
        background-color: #f6f3f3; /* Couleur de fond au survol */
        border-color: #0a0a0a;
        color: #15033b;
        text-decoration: none;
    }
    .learn-more-button-2:hover {
        background-color: #f6f3f3; /* Couleur de fond au survol */
        border-color: #0a0a0a;
        color: #15033b;
        text-decoration: none;
    }
}

@media (max-width: 1200px) {
    .overlay-text h1, .overlay-text-2 h1 {
        font-size: 2.2rem; /* Réduire la taille de la police sur mobile */

    }


    .learn-more-button-1, .learn-more-button-2 {
        font-size: 1.5rem; /* Réduire la taille du bouton sur mobile */
        padding: 8px 12px; /* Réduire le padding pour que le bouton soit plus petit */
        margin-top: 20px; /* Ajouter un espace au-dessus du bouton */
    }
}


.horizontal-line {
    width: 90%; /* Ajustez la largeur selon vos besoins */
    height: 2px;
    background-image: linear-gradient(to right, transparent, #000, transparent);
    border: none;
    margin: 0 auto; /* Centrer horizontalement */
}

.home-text1 {
    margin-left: 30%;
    font-size: 45px;
    width: 40%;
    font-family: 'Minerva Modern', sans-serif;
    font-weight: 400;
}

@media (max-width: 1100px) {
    .home-text1 {
        font-size: 35px;
    }
}

@media (max-width: 850px) {
    .home-text1 {
        font-size: 25px;
    }
}


@media (max-width: 1000px) {
    .Home {
        margin-top: -20px;
    }
}

.content {
    display: flex;
}


/* ---------- Trust Company -------*/

.trust-text-span {
    color: #000000;
    font-family: "Inter-LightItalic", sans-serif;
    font-size: calc(2.5rem + 1vw);
    line-height: 130%;
    font-weight: 300;
}

.trustCompany-image {
    height: 450px;
    max-width:200%;
}

@media (max-width: 960px) {
    .trust-text-span {
        font-size: 38px;
        /* Réduire la taille de la police */
    }
    .trustCompany-image {
        height: 350px;
    }
}
@media (max-width: 750px) {
    .trustCompany-image {
        height: 250px;
    }
}

/* Animation de fondu */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}



/* Responsive media queries */
@media (max-width: 1500px) {
    .info-box p {
        display: none;
    }
    
    .info-box1, .info-box2, .info-box3 {
        margin-top: 0px;
        height: 100%;
    }

}

@media (max-width: 1200px) {
    .learn-more-button-0 {
        margin-left: -50%;
    }

    .info-box {
        width: 65%; /* Allow two boxes per row */
        margin-left: 20%;
        margin-bottom: 5%;
    }
}

@media (max-width: 768px) {
    .video-container, .first-section {
        height: auto;
    }

    .learn-more-button-0 {
        margin-left: 0;
    }

    .first-section .text-overlay h1 {
        font-size: 4rem;
        width: 100%;
    }


}

@media (max-width: 480px) {
    .overlay-text, .learn-more-button-1, .learn-more-button-2 {
        font-size: 1rem;
    }

    .first-section .text-overlay h1 {
        font-size: 2rem;
        text-align: center;
    }

    .info-box h2, .info-box p {
        font-size: 1.2rem;
    }
}